* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%; /*
  background-color: lightgray;*/
  background-color: #ff9900;
}

/* Utility Class   */
.border-hover {
  width: auto;
  height: 2px;
  transition: all 0.4s ease-in;
  padding: auto;
}

.border-hover :hover {
  border: 1px solid whitesmoke;
}

img {
  max-width: 100%;
}

header {
  min-width: 768px;
  max-width: 100%;
  height: auto;
  overflow: hidden;
}
header .nav-bar {
  width: 100%;
  background-color: black;
  color: white;
  height: auto;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}
.nav-bar .logo {
  width: 130px;
  height: auto;
  margin-top: 10px;
}
.logo a {
  font-size: 1rem;
  text-decoration: none;
}
.logo a img {
  width: 100%;
}
.location {
  width: 250px;
}
.location i {
  position: relative;
  top: 10px;
  left: 5px;
}
.location .update-location {
  padding-left: 25px;
}
.location .city {
  padding-left: 5px;
  font-size: 0.8rem;
}
.nav-search {
  width: 52%;
  margin-right: 40px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.nav-search .all {
  width: 60px;
  background-color: gray;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 5px;
}
.nav-search .all i {
  padding-left: 10px;
}
.nav-search input {
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
}
.nav-search .search {
  width: 50px;
  height: 33px;
  background-color: #ff9900;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border: none;
  outline: none;
}

.right-menu {
  width: 38%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  right: 27px;
  gap: 1vw;
}
.right-menu .right {
  font-size: 0.8rem;
  padding: 0px 05px;
}
.cart {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.cart .cart-icon {
  font-size: 0.8rem;
}

.menu-small-device {
  display: none;
}
.mobile-location {
  display: none;
}

/*  Banner Section * and bg color #131921; */

#banner-section {
  width: 100%;
  height: 275px;
  position: relative;
  top: -40px;
}
#banner-section::before {
  content: " ";
  background: url("../images/banner_img.jpg") no-repeat top center/cover;
  width: 99%;
  height: 400px;
  position: absolute;
  z-index: -2;
  top: 40px;
  margin-left: 6px;
  margin-right: 1%;
}
.banner-menu {
  width: 100%;
  height: 40px;
  background-color: #131921;
  color: #fff;
  z-index: 1;
  margin-top: 40px;
  overflow: hidden;
}
.banner-menu ul {
  display: flex;
  align-items: center;
  width: 90%;
  height: 40px;
  justify-content: space-evenly;
}
.banner-menu .left-ul li {
  list-style: none;
  position: relative;
}
.banner-menu .left-ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-family: inherit;
}
.banner-menu .left-ul li:hover {
  border: 1px solid #fff;
  line-height: 40px;
  padding: 2px 2px;
  transition: all 0.4s ease-in;
}

.banner-menu .left-ul .image {
  height: 40px;
  width: 25%;
  left: 140px; /*
    align-self: flex-start;*/
}
.left-ul .image {
  width: 100%;
}

/* ====== All Wrapper Container ===== */

.all-wrapper-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

/* First Card */
.first-card-container {
  width: 100%; /*
    height: 500px; */
  height: auto;
  position: relative;
  z-index: 5;
}
.first-card-container .card-details {
  /*
  margin-left: 6%;*/
  margin-left: 5%;
  width: 90%;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.card-details .card {
  /*
    width: 25%; */
  flex-basis: 23.2%;
  background-color: whitesmoke;
}
.first-card-heading h2 {
  margin-left: 12px;
  padding-top: 1rem;
}

.first-card-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  margin: 6px 12px;
}
.first-card-box-details span {
  font-size: 14px;
}
.see-all {
  margin-left: 12px;
  margin-top: 10px;
}
.see-all a {
  text-decoration: none;
  color: blue;
  letter-spacing: 1px;
  font-family: inherit;
}

.first-card-box .last-card {
  grid-column: 1 /4;
}

.zIndex {
  z-index: 0;
  overflow: hidden;
}

/* Block Buster Details */

.block-container {
  position: relative;
  margin-top: 420px;
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
}

.treading-deals {
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
}

.block {
  width: 91vw;
  height: auto;
  margin: 2px 4.5%;
}
.block-heading {
  position: relative;
  margin-left: 10px;
  padding-top: 20px;
}
.block-heading h2 {
  font-weight: bolder;
  font-family: inherit;
}
.block-heading a {
  text-decoration: none;
  position: relative;
  margin-left: 200px;
  top: -20px;
}

.block-items {
  flex-basis: 12%;
}
.blockBuster-items-display {
  display: flex;
  column-gap: 25px;
  flex-wrap: wrap;
}
.block-items {
  flex-basis: 15%;
  height: auto;
}
.img {
  width: 100%;
  background-color: lightgray;
  border-radius: 12px;
}
.img img {
  padding: 10px 30px;
  overflow: hidden;
  width: auto;
  height: auto;
}

.block-tags h4 {
  background-color: darkred;
  width: 35%;
  color: whitesmoke;
  height: 25px;
  margin-top: 10px;
  padding: 2px 5px;
}
.block-tags span {
  position: relative;
  left: 85px;
  top: -20px;
  font-size: 14px;
  color: darkred;
  font-family: inherit;
}

.block-description a {
  text-decoration: none;
  color: black;
  font-family: inherit;
  font-size: 1rem;
}

/* Treading Deals */
.treading-deals {
  position: relative;
  margin-top: 20px;
  width: 97%;
  height: 100%;
  background-color: whitesmoke;
  margin-left: 1%;
}

/*Make Up */

.make-up-container {
  position: relative;
  width: 95%;
  height: auto;
  margin-top: 18px;
  background-color: whitesmoke;
  margin-left: 2%;
}
.make-up-items-headingh2 {
  font-family: inherit;
  font-weight: bolder;
}
.make-up-items-heading h2 a {
  text-decoration: none;
  padding-left: 1rem;
  font-size: 16px;
}
.make-up-products {
  margin-top: 15px;
  display: flex;
  column-gap: 3rem;
}
.make-up-products img {
  margin-left: 40px;
}
/* Mobile card */

.mobile-card {
  background-color: whitesmoke;
  width: 95%;
  margin-left: 2%;
}
.mobile-card .make-up-container {
  margin-left: 0px;
}
.mobile-card .make-up-products {
  column-gap: 2.8rem;
}

.mobile-card .make-up-products img {
  margin-left: 0px;
  flex-basis: 22%;
}

/* After Make up card */
.after-make-up-card-container {
  width: 96%;
  height: auto;
  margin-top: 26px;
  margin-left: 2%;
}
.after-make-up-card-container .first-card-container .card-details {
  width: 100%;
  margin-left: 0px;
  gap: 1.5rem;
}
.after-make-up-card-container .card-details .card {
  flex-basis: 23.6%;
}

/* Down Banner Section */

.down-banner {
  width: 94%;
  background-color: whitesmoke;
  margin: 25px auto;
  height: auto;
}
.down-banner img {
  width: 100%;
  margin: auto;
  padding: 20px 30px;
}

/* Footer Section  */
.footer-container {
  width: 100%;
  height: 250px;
  background-color: whitesmoke;
  margin-top: 0px;
  padding-top: 0px;
  position: relative;
  bottom: 0px;
}
.footer-first-section {
  width: 100%;
  height: 150px;
  text-align: center;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  margin-top: 20px;
  line-height: 32px;
}
.footer-first-section p,
a {
  margin-top: 20px;
  font-family: inherit;
  font-size: 1.2rem; /*
    line-height: 32px;*/
}
.footer-first-section a {
  text-decoration: none;
}
.footer-first-section .footer-btn {
  width: 100%;
  padding: 0px 7vw;
  background-color: #febd69;
  border-radius: 10px;
}

.footer-go-to-top {
  width: 100%;
  background-color: #37475a;
  height: 60px;
  opacity: 1.5;
}
.footer-go-to-top a {
  display: block;
  text-decoration: none;
  text-align: center;
  color: whitesmoke;
  font-size: 1rem;
  padding-top: 30px;
}

.footer-details {
  background-color: #131921;
  width: 100%;
  height: auto;
}
.footer-nav-bar {
  width: 70%;
  margin: 0px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #131921;
}
.footer-nav-bar-heading h3 {
  color: whitesmoke;
  margin-top: 40px;
}
.footer-nav-bar nav ul li a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 1rem;
}
.footer-nav-bar nav ul li {
  list-style: none;
  padding: 5px 10px;
}
.footer-logo {
  width: 20%;
  margin: 10px auto;
}
.footer-logo img {
  width: 100%;
}

.menu-small-device {
  display: none;
}
.mobile-location {
  display: none;
}

/* Mobile phone */

@media (min-width: 200px) and (max-width: 768px) {
  #navbar {
    display: none;
  }
  .banner-menu {
    display: none;
  }

  /* Menu for small device */
  .menu-small-device {
    display: block;
    width: 100vw;
    height: auto;
    background-color: #131921;
    color: whitesmoke;
  }
  .mobile-device {
    width: 95vw;
    display: flex;
    align-items: center;
    margin: 0px auto;
  }
  .hamburger-menu-and-logo {
    display: flex;
    align-items: center;
  }
  .menu-small-device .hamburger-menu-and-logo {
    flex-basis: 50vw;
  }
  .menu-small-device .hamburger-menu-and-logo i {
    flex-basis: 05%;
    font-size: 1.5rem;
  }
  .menu-small-device .hamburger-menu-and-logo img {
    width: 55%;
  }
  .menu-small-device .right-side-menu {
    flex-basis: 50vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
  }
  .right-side-menu .menu-sign-in {
    font-size: 1rem;
  }
  .right-side-menu .mobile-signIn {
    font-size: 1.5rem;
  }
  .right-side-menu .mobile-cart {
    font-size: 1.5rem;
  }
  .menu-small-device .mobile-serach-bar {
    width: 95vw;
    height: auto;
    margin: 0px auto;
  }
  .menu-small-device .mobile-serach-bar .small-search-bar {
    border: none;
    height: 35px;
    width: 85vw;
    border-radius: 5px;
  }
  .mobile-serach-bar .mobile-glass {
    font-size: 1rem;
    background-color: #febd69;
    height: 35px;
    width: 8vw;
    border-left: none;
    position: relative;
    left: -15px;
    top: 2px;
    border-radius: 5px;
  }
  .mobile-serach-bar i {
    padding: 10px 10px;
  }
  .menu-small-device .mobile-shop-by {
    width: 95vw;
    margin: 0px auto;
    display: flex;
    align-items: center;
    color: whitesmoke;
  }
  .mobile-shop-by a {
    display: inline-block;
    color: whitesmoke;
    text-decoration: none;
    margin-left: 30px;
    font-size: 1.2rem;
    padding-bottom: 10px;
  }

  .mobile-location {
    width: 100vw;
    background-color: #37475a;
    margin-top: 0px;
    height: 40px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    align-items: center;
    gap: 1rem;
  }
  .mobile-location i {
    margin-left: 15px;
  }

  .first-card-container {
    width: 100vw;
    height: auto;
    font-size: 2vw;
  }
  .first-card-heading h2 {
    margin-left: 12px;
  }
  .first-card-container .card-details {
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 2px;
    margin-left: 2.5%;
    align-items: center;
  }
  .card-details .card {
    width: 95vw;
  }

  .first-card-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 5px;
    margin: 05px 0px;
  }
  .first-card-box img {
    width: 100%;
  }
  .first-card-box-details span {
    font-size: 1rem;
  }

  header {
    display: none;
  }

  /*===== Banner Section======= */

  .header-banner {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  #banner-section::before {
    background: url("../images/phone-background-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    margin-left: 0px;
  }

  /* Block buster container     */

  .block-heading {
    margin-top: 5px;
    font-family: inherit;
  }
  .block-heading h2 {
    font-size: 6vw;
  }
  .block-heading a {
    display: inline-block;
    font-size: 1.2rem;
    font-family: inherit;
    position: absolute;
    top: 30px;
    right: 20px;
  }

  .block-container {
    width: 100vw;
    margin-top: 20px;
    font-size: 2px;
    height: auto;
    background-color: lightgray;
  }
  .block-container .block {
    width: 95vw;
    margin: auto;
    height: auto;
    background-color: whitesmoke;
    margin: 2px 2.5%;
  }
  .blockBuster-items-display {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1.2rem;
  }
  .img img {
    width: 100%;
    padding: 2px 2px;
    height: 200px;
    border-radius: 10px;
  }
  .block-tags {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    height: 100%;
  }
  .block-tags h4 {
    background-color: darkred;
    color: #f5f5f5;
    font-size: 1.5rem;
    width: auto;
    padding: auto;
  }
  .block-tags span {
    top: 10px;
    left: 5px;
    width: auto;
  }

  .block-description a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-family: inherit;
    font-size: 1rem;
    width: 100%;
    margin: 14px 1%;
  }

  /* Make Up */
  .make-up-container {
    width: 98vw;
    height: auto;
    background-color: lightgray;
  }
  .make-up-container h2 {
    font-size: 3vw;
    text-align: center;
  }
  .make-up-products {
    width: 90vw;
    margin: auto;
    height: auto;
    display: grid;
    grid-template-columns: auto auto;
    gap: 1.5rem;
    background-color: whitesmoke;
  }
  .make-up-products img {
    height: 20vh;
  }

  .after-make-up-card-container .card {
    width: 95vw;
    margin-left: -3%;
  }

  /* Footer Section */
  .footer-nav-bar {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .footer-nav-bar-heading h3 {
    display: none;
  }
  .footer-nav-bar .four {
    display: none;
  }
}
/* Media query from 769px to 1024px */

@media (min-width: 769px) and (max-width: 1024px) {
  header {
    width: 100%;
  }
  header .nav-bar {
    width: 100%;
    color: whitesmoke;
    margin-top: 0px;
    margin-left: auto;
  }
  .nav-bar .logo {
    width: 10%;
    margin-left: 1%;
  }
  .nav-bar .location {
    width: 25%;
    font-size: 0.7rem;
    margin-left: -0.1%;
  }
  .nav-bar .nav-search {
    width: 30%;
  }
  .nav-bar .right-menu {
    width: 36%;
    font-size: 1rem;
  }

  .all-wrapper-container {
    width: 100%;
    overflow: hidden;
  }
  .header-banner {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  #banner-section::before {
    background: url("../images/banner_img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 400px;
    margin: 0px 0px;
  }

  /* ========== First Card Container ========= */

  .first-card-container .card-details {
    width: 97vw;
    height: auto;
    margin-left: 4px;
    column-gap: 0.5rem;
    row-gap: 1rem;
  }
  .card-details .card {
    flex-basis: 29.2%;
    margin: 0px auto;
    background-color: whitesmoke;
    margin: 5px auto;
  }

  /* Selecting last child and 2 last from first card container for getting wider width */
  .card-details .card:last-child {
    /*
    width: 25%; */
    flex-basis: 43.2%;
    background-color: whitesmoke;
  }
  .card-details .card:nth-last-child(2) {
    /*
    width: 25%; */
    flex-basis: 43.2%;
    background-color: whitesmoke;
  }

  /* Blockbuster deals */

  .block-container {
    position: relative;
    width: 95vw;
    height: auto;
    background-color: whitesmoke;
    margin: 20px auto;
  }

  .block-items {
    flex-basis: 15%;
  }
  .block-items img {
    height: 120px;
  }
  .blockBuster-items-display {
    display: flex;
    column-gap: 10px;
    flex-wrap: wrap;
  }
  .block-tags {
    width: auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .block-tags h4 {
    width: 77%;
    height: 25px;
    margin-top: 10px;
    padding: 2px 15px;
    margin-left: 2vw;
  }
  .block-tags span {
    left: 5px;
  }

  /* ===== Makeup Container ===== */

  .make-up-container {
    width: 96vw;
    height: auto;
    background-color: whitesmoke;
    margin: 18px auto;
  }
  .make-up-products {
    flex-wrap: wrap;
    margin-top: 18px;
    margin-left: 50px;
  }
  .make-up-products img {
    flex-basis: 14%;
    height: 200px;
  }
  .make-up-products {
    column-gap: 0.1rem;
    row-gap: 2rem;
    padding-bottom: 20px;
  }

  /* ===== Mobile Card  =====   */

  .mobile-card .make-up-products {
    column-gap: 1.8rem;
    margin-left: 100px;
  }

  /* ===== After Make Up Card   ===== */

  /* Selecting all child from after make up card container for getting wider width */

  .after-make-up-card-container .first-card-container .card-details .card {
    flex-basis: 43.2%;
  }
}

/* Media Query from 769px to 850px changing top menu location delivering add */

@media (min-width: 769px) and (max-width: 990px) {
  .nav-bar .logo {
    width: 13%;
  }
  .nav-bar .location {
    width: 300px;
    font-size: 0.5rem;
    font-weight: bolder;
  }
  .nav-bar .nav-search {
    width: 38%;
  }
  .nav-search input {
    width: 100%;
  }
  .nav-bar .right-menu {
    width: 55%;
  }
}

/* Media Query above 1024px */

/* ======= Media query for menu from 200px to 850 px **** */
@media (min-width: 1025px) and (max-width: 1620px) {
  .first-card-heading h2 {
    margin-left: 6px;
  }
  .first-card-container .card-details {
    margin-left: 3%;
    width: 98%;
    height: 400px;
    gap: 1rem;
  }

  .card-details .card {
    flex-basis: 23.2%;
  }
  .blockBuster-items-display {
    column-gap: 15px;
  }
  .after-make-up-card-container {
    margin-left: 3.5%;
  }
  .after-make-up-card-container .card-details .card {
    flex-basis: 22.6%;
  }

  .mobile-card .make-up-products {
    column-gap: 1.8rem;
    flex-wrap: wrap;
    row-gap: 1rem;
  }
  .mobile-card .make-up-products img:nth-last-child(2) {
    flex-basis: 48%;
    height: 250px;
  }
  .mobile-card .make-up-products img:last-child {
    flex-basis: 48%;
    height: 250px;
  }

  .block-tags {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0.7rem;
  }
  .block-tags h4 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .block-tags span {
    position: static;
    padding-bottom: 10px;
  }
  .block-details-img-tags img {
    height: 130px;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .banner-menu .image {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 1240px) {
  .banner-menu .image {
    display: none;
  }
  .banner-menu {
    width: 100vw;
    font-size: 0.5rem;
    justify-content: space-evenly;
  }
  .banner-menu li:last-child {
    display: none;
  }
  .banner-menu li:nth-last-child(2) {
    display: none;
  }
  .banner-menu li:nth-last-child(3) {
    display: none;
  }
  .banner-menu li:nth-last-child(4) {
    display: none;
  }
}

@media (min-width: 1241px) and (max-width: 1520px) {
  .banner-menu {
    justify-content: space-evenly;
    width: 100%;
  }
  .banner-menu .left-ul {
    width: 100%;
  }
  .banner-menu .left-ul .image {
    height: 25px;
    width: 25%;
    left: 10px;
  }
}
